



body{
    width: auto;
    display: inline;
    /*margin-top:0;
    margin-bottom: 0;
    padding-top: 0;*/
}

  
  header {
    background: #444444;
    width: 1150px;
    height: 90px;

   display: block;
    margin-left: auto;
    margin-right: auto;
  }

  nav a {

      text-align: center;
      padding: 10px 30px 10px 30px;
      text-decoration: none;
      color: #DDD;
  }
 
  header img {
      float: left;
      margin: 10px 30px 10px 93px;
  }
  
  main img:first-child {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-right: 10px;
  }

  main div img{
    float:left;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 30px 10.5px 0 10.5px;

  }

  div img:first-child {

    margin-left: 190px;
  }

  main span img  {
      float: left;
      padding-left: 193.5px;
      margin-top: 0;
      margin-bottom: 30px;

    }

    main span div {
        float: left;
        padding-left: 30px;

    }

    span {
        margin-top: 30px;
        padding-top: 30px;
        
    }


    main span h3 {
        line-height: 40px;
        font-size: x-large;

    }
    main span div {
        line-height: 20px;
        overflow: scroll;
        width: 480px;
        height: 350px;
        padding-top: 30px;

    }

        main span p {
            float: left;
        }

    main a {
        float: left;
    }


    footer {
        clear: both;
        background: #444444;
        width: 1150px;
        height: 90px;
    
       display: block;
        margin-left: auto;
        margin-right: auto;
    }

    main span a {
        text-decoration: none;
        color: white;
        background-color: black;
        border-radius: 2%;
        width: 200px;
        height: 50px;
        font-size: large;
        padding-left: 30px;
        text-align: center;
        te
    }

































